.container {
    margin: 20px;
    padding: 0 30px;
    
    
}
.title{
    font-size: 20px;
    color: royalblue;
    text-align: center;
}

.listItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;

}

.item{
    width:300px;
    height: 500px;
    border-radius: 20px;
    box-shadow: -4px 2px 40px 0px gray;
    padding: 10px;
}

.item-detail{
    width:300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: -4px 2px 40px 0px gray;
    padding: 10px;
    display: inline-table;
}

.item img{
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}